@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$primary: #343434;
$secondary: #8f8f8f;
$light: #eee;
$white: #fff;

$default-content-margin-top: 74px;
$default-content-padding-top: 22px;
$default-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "white": $white,
));

$pagination-color: $primary;
$pagination-hover-color: $primary;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;

@import "bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

.input-group {
  .input-group-text {
    border-radius: 0;
  }
}

.form-control {
  border-radius: 0!important;
  
  &:hover, &:focus {
    box-shadow: none!important;
    border-color: $primary!important;
  }

  &.is-invalid {
    border-color: $danger!important;
  }
}

select {
  &.form-control {
    appearance: none;
    background: transparent;
    background-image: url("/icons/caret.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.75rem);
    background-position-y: 0.75rem;
    background-size: 1rem;
    padding-right: 1.75rem;
  }
}

.card {
  border-radius: 0;
  box-shadow: $default-box-shadow;
  border: none;
}

.main-wrapper {
  margin-top: $default-content-margin-top;

  & .content {
    padding-top: $default-content-padding-top;
    min-height: calc(100vh - $default-content-margin-top);
  }
}

.quill-wrapper {
  &.invalid {
    border: 1px solid;
    border-color: $danger;
  }
}